alembic==1.14.0
aniso8601==9.0.1
astroid==2.2.5
blinker==1.9.0
cffi==1.17.1
click==7.1.2
cryptography==44.0.0
ecdsa==0.13.2
Flask==1.1.4
Flask-Cors==5.0.0
Flask-Migrate==2.6.0
Flask-RESTful==0.3.10
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
future==0.17.1
greenlet==3.1.1
gunicorn==23.0.0
isort==4.3.18
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.0
Mako==1.1.4
MarkupSafe==2.0.1
mccabe==0.6.1
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
psycopg2-binary==2.9.10
pyasn1==0.6.1
pycparser==2.22
pycryptodome==3.3.1
pylint==2.3.1
python-dateutil==2.9.0
python-dotenv==1.0.1
python-editor==1.0.4
python-jose==3.3.0
pytz==2024.2
rsa==4.9
setuptools==75.6.0
six==1.17.0
SQLAlchemy==1.4.54
typed_ast==1.5.5
typing_extensions==4.12.2
Werkzeug==1.0.1
wheel==0.45.1
wrapt==1.11.1
